<hgroup>
  <div id="logo">
  	<div id="logoLeft">{</div>
  	<div id="logoText">UFS</div>
  	<div id="logoRight">}</div>
  	<div class="clear"></div>
  </div>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
  <div class="clear"></div>
</hgroup>
